.e-secret {
	margin: 20px 0;
	padding: 20px;
	background: #f8f8f8;
}
.e-secret input.euc-y-i[type="password"] {
	float: left;
	background: #fff;
	width: 100%;
	line-height: 36px;
	margin-top: 5px;
	border-radius: 3px;
}
.e-secret input.euc-y-s[type="submit"] {
	float: right;
	margin-top: -47px;
	width: 30%;
	margin-right: 1px;
	border-radius: 0 3px 3px 0;
}
input.euc-y-s[type="submit"]{
	background-color:#3498db;
	color:#fff;
	font-size:21px;
	box-shadow:none;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
	transition:.4s;
	-webkit-backface-visibility:hidden;
	position:relative;
	cursor:pointer;
	padding: 13px 20px;
	text-align: center;
	border-radius: 50px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 0;
	height: auto;
	outline: medium;
	line-height: 20px;
	margin: 0;
}
input.euc-y-s[type="submit"]:hover{
	background-color:#5dade2;
}
input.euc-y-i[type="text"],input.euc-y-i[type="password"]{
	border:1px solid #F2EFEF;
	color:#777;
	display:block;
	background: #FCFCFC;
	font-size:18px;
	transition:all .5s ease 0;
	outline:0;
	box-sizing:border-box;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	border-radius:25px;
	padding:5px 16px;
	margin: 0;
	height: auto;
	line-height: 30px;
}
input.euc-y-i[type="text"]:hover,input.euc-y-i[type="password"]:hover{
	border:1px solid #56b4ef;
	box-shadow:0 0 4px #56b4ef;
}

p.secret_tip {
	clear: both;
}
